.git
.idea
.venv
**/__pycache__
**/*.pyc
**/.env
**/.env.*
**/credentials
**/credentials.*
**/*.sqlite3
**/*.sqlite3-*
**/*.lock
Media
staticfiles
Docker/data
UnitTests
Client/Books
Client/Engines
Client/Networks
Client/PGNs
Client/fastchess-ob*
Client/machine.txt
