{% load mytags %}
        <div class="anchor-container">

            <!-- Approve Button: For Admins, or Cross-approvers -->
            {% if not workload.approved and profile.approver and profile.user.username != workload.author %}
                <a class="anchorbutton btn-blue" href="/{{type|lower}}/{{workload.id}}/APPROVE">Approve</a>
            {% elif not workload.approved and request.user.is_superuser %}
                <a class="anchorbutton btn-blue" href="/{{type|lower}}/{{workload.id}}/APPROVE">Approve</a>
            {% else %}
                <a class="anchorbutton btn-disabled" aria-disabled="true">Approve</a>
            {% endif %}

            <!-- Restart Button: For Approvers or Workload Authors of finished workloads -->
            {% if workload.finished and not workload.passed and not workload.failed and profile.approver %}
                <a class="anchorbutton btn-yellow" href="/{{type|lower}}/{{workload.id}}/RESTART">Restart</a>
            {% elif workload.finished and not workload.passed and not workload.failed and profile.user.username == workload.author %}
                <a class="anchorbutton btn-yellow" href="/{{type|lower}}/{{workload.id}}/RESTART">Restart</a>
            {% elif workload.finished %}
                <a class="anchorbutton btn-disabled" aria-disabled="true">Restart</a>
            {% endif %}

            <!-- Stop Button: For Approvers or Workload Authors of active workloads -->
            {% if not workload.finished and profile.approver %}
                <a class="anchorbutton btn-yellow" href="/{{type|lower}}/{{workload.id}}/STOP">Stop</a>
            {% elif not workload.finished and profile.user.username == workload.author %}
                <a class="anchorbutton btn-yellow" href="/{{type|lower}}/{{workload.id}}/STOP">Stop</a>
            {% elif not workload.finished %}
                <a class="anchorbutton btn-disabled" aria-disabled="true">Stop</a>
            {% endif %}

            <!-- Delete/Restore Button: For Approvers or Workload Authors -->
            {% if profile.approver or profile.user.username == workload.author %}
                {% if workload.deleted %}
                    <a class="anchorbutton btn-preset" href="/{{type|lower}}/{{workload.id}}/RESTORE">Restore</a>
                {% else %}
                    <a class="anchorbutton btn-red" href="/{{type|lower}}/{{workload.id}}/DELETE">Delete</a>
                {% endif %}
            {% else %}
                {% if workload.deleted %}
                    <a class="anchorbutton btn-disabled" aria-disabled="true">Restore</a>
                {% else %}
                    <a class="anchorbutton btn-disabled" aria-disabled="true">Delete</a>
                {% endif %}
            {% endif %}
        </div>

