{% extends "OpenBench/base.html" %}

{% block content %}

    <form class="auth-form" id="registerForm" method="POST" action="/register/">
        {% csrf_token %}
        <div class="form">
            <div class="col">
                <div class="row">
                    <label for="email">Email</label><input id="email" name="email" type="email" autocomplete="email">
                </div>
                <div class="row">
                    <label for="username">Username</label><input id="username" name="username" autocomplete="username" required>
                </div>
                <div class="row">
                    <label for="password1">Password</label><input id="password1" type="password" name="password1" autocomplete="new-password" required>
                </div>
                <div class="row">
                    <label for="password2">Confirm Password</label><input id="password2" type="password" name="password2" autocomplete="new-password" required>
                </div>
                <input class="anchorbutton btn-blue w-100" type="submit" name="submit" value="Create User">
            </div>
        </div>
    </form>

{% endblock %}
